@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Outfit:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-gray-900 bg-white antialiased;
  }
}

.typewriter-cursor {
  @apply inline-block w-[2px] h-[1.2em] bg-white ml-1 align-middle;
}
#google_translate_element,
.skiptranslate,
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}
